/* F to C Converter */
/* 06 JUN 2021 */

html{
    background-color: #fff; /* white */
    width: 600px;
    padding: 20px 100px;
    margin: auto; /* Centers content horizontally on screen */
    font-family: Arial, sans-serif;
    
}
